body {
    font-color: #2d3c49;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
    width: 66%;
}
.full-name {
    font-family: Montserrat, Arial;
    font-weight: 300;
}

.featured-work-image {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    display:block;
    margin:auto;
}

.grey {
    color: #7d97ad
}