body {
    font-color: #2d3c49;
    font-family: Montserrat, Arial;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
    width: 82%;
    margin-right: 1%;
}

.personal {
    margin-top: 2em;
}

.personal-info {
    text-align: right;
}

.full-name {
    font-weight: 300;
}

.featured-work {
    margin-top: 2em;
    margin-bottom: 5em;
}

.featured-work-title {
    color: #7d97ad;
}
.featured-work-image {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    display:block;
    margin:auto;
}

.project-details {
    margin-top: 1em;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 575px) {
    h1 {
        font-size: 1rem
    }
    h4 {
        font-size: 0.5rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    h1 {
        font-size: 1.25rem;
    }
    h4 {
        font-size: 0.7rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 2.15rem;
    }
    h4 {
        font-size: 1.3rem;
    }
}
