body {
    font-color: #2d3c49;
    font-family: Montserrat, Arial;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
    width: 74%;
    margin-right: 9%;
}

.personal {
    margin-top: 2em;
}

.personal-info {
    text-align: right;
}

.full-name {
    font-weight: 300;
}

.featured-work {
    margin-top: 2em;
    margin-bottom: 5em;
}

.featured-work-title {
    color: #7d97ad;
}
.featured-work-image {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    display:block;
    margin:auto;
}

.project-details {
    margin-top: 1em;
    text-align: center;
    text-transform: uppercase;
}

.personal-logo {
    width: 156px;
    height: 100px;
    margin-left: 5px;
}
@media (min-width: 576px) {
    .personal-logo {
        width: 186px;
        height: 125px;
        margin-left: 50px;
    }
}

@media (min-width: 768px) {
    .personal-logo {
        width: 200px;
        height: 125px;
        margin-left: 80px;
    }
}

@media (min-width: 992px) {
    .personal-logo {
        width: 236px;
        height: 125px;
        margin-left: 110px;
    }
}
